html, body {
    width: 100%;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Press Start 2P", system-ui;
    color: whitesmoke;
    background-color: #28282B;

}